.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 20px;
  min-height: 400px; 

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-content {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #000000;
    text-align: start;
    margin-bottom: 10px;
  }

  p {
    font-size: 0.8rem;
    color: #141414;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 10px;
    flex-grow: 1;
    overflow-wrap: break-word; 

  }


  .btn {
    margin-top: auto;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;

    &:hover {
      background: #0056b3;
    }
  }

}
@media (min-width: 1600px) {
  .card{
    min-width: 330px;
    min-height: 500px;
  }
  .p{
    font-size: 1rem;
  }
}
@media (min-width: 1800px) {
  .card{
    min-width: 377px;
    min-height: 500px;
    p{
      font-size: 1rem !important;
    }
  }

}
