.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.banner-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #000; /* Fondo negro para evitar espacios blancos */
}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.78vh; /* Asegura relación 16:9 basada en altura */
  height: 100vh;
  border: none;
}

/* Para asegurar que el video cubra todo el ancho en pantallas anchas */
@media (min-aspect-ratio: 16/9) {
  .banner-video iframe {
    width: 100vw;
    height: 56.25vw; /* Mantiene relación 16:9 */
  }
}

/* Para pantallas más altas que anchas */
@media (max-aspect-ratio: 16/9) {
  .banner-video iframe {
    width: 177.78vh; /* Asegura relación 16:9 basada en altura */
    height: 100vh;
  }
}

/* Ajuste específico para pantallas extra grandes */
@media (min-width: 1600px) {
  .banner-video iframe {
    transform: translate(-50%, -50%); /* Desplaza ligeramente hacia arriba para mostrar más contenido inferior */
  }
}

/* Ajuste específico para pantallas de 1920px */
@media (min-width: 1920px) {
  .banner-video iframe {
    transform: translate(-50%, -50%); /* Desplaza aún más hacia arriba para pantallas muy grandes */
    width: 177.78vh; /* Mantiene la relación de aspecto correcta */
    height: 100vh;
  }
}

/* Ajuste en móviles */
@media (max-width: 768px) {
  .banner-container{
    width: 100%;
    height: 22vh;
  }
  .banner-video iframe {
    width: 100vw;
    height: 56.25vw; /* Mantiene relación 16:9 */
    min-height: 100vh;
  }
}

/* Estilos del texto */
.banner-slogan {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    max-width: 600px;
    font-size: clamp(18px, 4vw, 24px);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0 20px;
  }
}
