:root {
  --color-primary: #072D75;
  --color-accent: #07afe9;
  --color-white: #fff;
  --color-text: #676767;
  --color-nav: #1D63A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.nav-content,.footer-container,.container-contac-us {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-text);
}

/* Estos estilos se aplican a toda la app */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Tus Media Queries globales */
@media (max-width: 600px) {
  
  /* Ejemplo: Ocultar todas las imágenes con esta clase en móvil */
  .ocultar-en-movil {
    display: none;
  }

  /* Ejemplo: Reducir el tamaño de fuente general del body */
  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
