<footer>
  <div class="airplane-container">
    <img src="/assets/images/air.png" alt="ornament" class="airplane-footer">
    <div class="dashed-line"></div>
  </div>

  <div class="footer-wave">
    <svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
      <path fill="#cfe4f3" fill-opacity="0.9"
        d="M0,288L48,272C96,256,192,224,288,192C384,160,480,128,576,144C672,160,768,224,864,250.7C960,277,1056,267,1152,234.7C1248,203,1344,149,1392,122.7L1440,96V320H0Z">
      </path>
      <path fill="#daeaf7" fill-opacity="0.9"
        d="M0,256L48,240C96,224,192,192,288,181.3C384,171,480,181,576,186.7C672,192,768,192,864,197.3C960,203,1056,213,1152,202.7C1248,192,1344,160,1392,144L1440,128V320H0Z">
      </path>
      <path fill="#e5f1fb" fill-opacity="0.9"
        d="M0,224L48,213.3C96,203,192,181,288,154.7C384,128,480,96,576,96C672,96,768,128,864,138.7C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224V320H0Z">
      </path>
    </svg>
  </div>

  <div class="footer-container">
    <!-- Primera Columna: Logo, Presentación, Horario y Redes Sociales -->
    <div class="footer-section first-column">
      <img src="/assets/images/logo-mqv-blue.png" alt="Logo Más Que Vacaciones" class="footer-logo" />
      <p class="text-presentacion">Tu aliado para organizar escapadas, aventuras y viajes familiares.</p>

      <!-- Horario -->
      <div class="footer-subsection">
        <h4>Horario</h4>
        <p>Lun - Vie 9:00 am - 6:30 pm</p>
        <p>Sab 9:00 am - 12:00 pm</p>
      </div>

      <!-- Redes Sociales -->
      <div class="footer-subsection">
        <h4>Síguenos en:</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/masquevacaciones" target="_blank"><img
              src="/assets/logos/facebook-icon.webp" alt="Facebook" class="social-logo" /></a>
          <a href="https://www.instagram.com/masquevacaciones/" target="_blank"><img
              src="/assets/logos/instagram-icon.webp" alt="Instagram" class="social-logo" /></a>
          <a href="https://www.tiktok.com/@masquevacaciones" target="_blank"><img
              src="/assets/logos/tiktok-icon.webp" alt="TikTok" class="social-logo" /></a>
          <a href="https://wa.me/+51932244747" target="_blank"><img
              src="/assets/logos/whatsApp-icon.webp" alt="WhatsApp" class="social-logo" /></a>
          <a href="https://www.youtube.com/@masquevacaciones" target="_blank"><img
              src="/assets/logos/youtube-icon.png" alt="Youtube" class="social-logo" /></a>

          <a href="https://www.google.com/search?q=mas+que+vacaciones&rlz=1C1UEAD_esPE1013PE1013&oq=mas+&gs_lcrp=EgZjaHJvbWUqDggAEEUYJxg7GIAEGIoFMg4IABBFGCcYOxiABBiKBTIGCAEQRRg5MhIIAhAuGEMYrwEYxwEYgAQYigUyDAgDEAAYQxiABBiKBTIGCAQQRRg8MgYIBRBFGDwyBggGEEUYPDIGCAcQRRg80gEIMjA1MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8"
          target="_blank"><img src="/assets/logos/google-icon.png" alt="Google" class="social-logo" /></a>
        </div>
      </div>
    </div>

    <!-- Segunda Columna: Empresa y Enlaces -->
    <div class="footer-section">
      <h4>Empresa</h4>
      <p><a href="/about-us">Conócenos</a></p>
      <p><a href="/servicios">Servicios que ofrecemos</a></p>

      <h4>Enlaces</h4>
       <p><a href="/complaints-book">Libro de reclamaciones</a></p>
      <p><a href="/terms-conditions">Términos y condiciones</a></p>
      <p><a href="/faq">Preguntas Frecuentes</a></p>
      <p><a href="/privacy-policies">Políticas de privacidad</a></p>
    </div>

    <!-- Tercera Columna: Contacto y Formas de Pago -->
    <div class="footer-section">
      <h4>Contáctanos</h4>
      <p>+51 932 244 747</p>
      <p><a href="mailto:informes&#64;masquevacaciones.com">informes&#64;masquevacaciones.com</a></p>

      <h4>Formas de Pago</h4>
      <div class="payment-methods">
        <img src="/assets/logos/all.png" alt="pages methods" class="pages-methods" />
      </div>
    </div>

    <!-- Cuarta Columna: Viaja con MQV -->
    <div class="footer-section">
      <h4>Viaja con MQV</h4>
      <p><a href="/destinos">Destinos</a></p>
      <p><a href="/experiencias">Experiencias</a></p>
    </div>
  </div>
</footer>